<!DOCTYPE html>
<html>
<head>
    <title>Bookmarks</title>
    <style>
        /* Basic CSS styles for the list items */
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: #007BFF;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Bookmarked</h1>
    <ul>
        {% for item in bookmarks %}
            <li><a href="/restaurants/" target="_blank">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
